<h1><%= @club.name %></h1>

<p>You are authorized for entry! Welcome.</p>

<% if @club.user == current_user %>
  <p><%= link_to "Edit", edit_club_path(@club) %></p>
<% end %>
<p><%= link_to "Back to all clubs", clubs_path %></p>
